.nav {
    /* background-color: gray; */
    padding: 10px 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Inter', sans-serif;
}

.info-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 120px;
}

.info-area svg {
    /* margin: 10px; */
}