.nav {
    /* background-color: gray; */
    padding: 10px 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Inter', sans-serif;
}

.info-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 120px;
}

.mobile-info-area {
    display: none;
}

.info-area svg {
    /* margin: 10px; */
}


@media (max-width: 800px) {
.nav{
    padding: 10px 2rem;
}
    .mobile-info-area {
        display: block;
    }

    .info-area {
        display: none;
    }
}

@media (max-width:400px) {
    .nav{
        padding: 10px 1rem;
    }
}