.top-area {
    /* background-color: yellow; */
    padding: 0px 6rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-family: 'Work Sans ', sans-serif;
    margin: 1rem 0;
}

.text-area {
    /* background-color: green; */
}

.text-area p {
    color: #475467;
    margin: 10px 0;
}

.button-area {
    background-color: purple;
}

.task-btn {
    display: flex;
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #3F5BF6;
    background: #3F5BF6;
    transition: 0.15s all ease;
    color: white;
}

.task-btn:hover {
    transform: scale(0.98);
    cursor: pointer;
}

@media (max-width: 800px) {
    .top-area {
        padding: 0px 2rem;
    }

    .task-btn {
        padding: 8px 13px;
    }
}

@media (max-width:500px) {
    .top-area {
        padding: 0px 1rem;
    }

    .top-area h1 {
        font-size: 24px;
    }

    .task-btn {
        display: none;
    }
}